<html>
  <head>
    <title>Bienvenue</title>
  </head>
  <body>
    <p>Hey ! Bienvenue sur notre site ! Créé par Nicolas Culerier et Nicolas Zhao !</p>
    <a href=<%= new_path %>>Inscris-toi ici</a>
  </body>
</html>
